body {
    background: #e5e5e5;
}
.customers-page {
    /* background-color: green; */
    padding: 10px;
}
.nav-header {
    width: 80%;
    margin: 10px auto 20px auto;
}
.add-customer {
    width: 80%;
    margin: 20px auto;
    margin-bottom: 20px;
}
.add-customer button {
    border-style: none;
    background-color: #37a0f4;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
}
.customers-list-wrapper {
    background-color: #fff;
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    text-align: center;
    border-radius: 4px;
}

.tbody, .thead {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.tbody  {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.tbody:hover {
    background-color: #a4a4a4;
}
.tbody > div, .thead > div {
    width: 140px;
    padding: 20px;
    overflow: hidden;
}
.thead > div {
    border-bottom: 1px solid #a4a4a4;
}
.tbody:not(:last-child) {
    border-bottom: 1px solid #a4a4a4;
}






