body {
    background: #e5e5e5;
}

.tbody > div {
    width: 100px;
    padding: 20px;
    overflow: hidden;
}
.tbody > div:not(:last-child){
    border-bottom: 1px solid lightgray;
}
.thead > div {
    width: 100px;
    padding: 20px;
    overflow: hidden;
    border-bottom: 1px solid lightgray;
}
.tbody:hover {
    background-color: #a4a4a4;
}
.tbody  {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.tbody, .thead {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}


.customers-list-wrapper {
    background-color: #fff;
    width: 60%;
    min-height: 300px;
    margin: 200px auto;
    text-align: center;
    border-radius: 4px;
}