/* globals */
button, input {
    outline: none;
    cursor: pointer;
}
/*  -------------------  */
body {
    background: #e5e5e5;
    color: #808080;
    font-family: 'Roboto';
}
.customers-page {
    /* uncomment below to see end of page */
    /* background-color: green; */
    padding: 10px;
}
.nav-header {
    width: 80%;
    margin: 10px auto 20px auto;
    cursor: pointer;
}
.add-customer {
    width: 80%;
    margin: 40px auto;
    margin-bottom: 40px;
}
.add-customer a {
    border-style: none;
    background-color: #37a0f4;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
.customers-list-wrapper {
    background-color: #fff;
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    text-align: center;
    border-radius: 4px;
}
.tbody, .thead {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    font-size: 85%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.tbody:hover {
    background-color: #dadada;
}
.tbody > div, .thead > div {
    /* min-width: 120px; */
    width: calc(100% / 6);
    padding: 20px;
    overflow: hidden;
}
.thead {
    border-bottom: 1px solid #a4a4a4;
    border-width: 100%;
}
.thead > div::first-letter {
    text-transform: uppercase;
}
.tbody:not(:last-child) {
    border-bottom: 1px solid #a4a4a4;
    border-width: 100%;
}


/* small styles */
.fixinity-header {
    color: #262626;
    font-weight: bold;
    margin-right: 5px;
}
.tbody {
    color: #262626;
}
#action {
    display: flex;
    justify-content: space-evenly;
}
#edit-customer {
    color: #37a0f4;
}
#delete-customer {
    color: #f44336;
}
 .customers-header {
    font-size: 85%;
    margin-left: 5px;
 }
 .home-header {
     margin: auto 5px;
     color: #37a0f4;
 }
 #status {
    padding: 5px 10px;
    border-style: none;
    border-radius: 4px;
 }
 #status[value="Active"]{
     background: #37a0f4;
     color : #fff;
 }
 #status[value="Inactive"]{
    background: #d7d7d7;
}
#status[value="Progress"]{
    background: #ffa500;
}

/* pagination */
.pagination {
    padding: 20px 4%;
    text-align: right;
    font-size: 80%;
    color: #262626;
}
.pag-dropdown {
    margin: auto 2%;
}
.pag-total {
    margin-right: 2%;
}
/* TODO: change its color based 
on page count start or end */
.pag-left {
    margin-right: 2%;
    color: #808080;
}
.pag-right {

}


/* modal */

.modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.20);
}
.modal {
    position: absolute;
    background: #fff;
    top: 25%;
    left: 20%;
    right: 20%;
    padding: 15;
    /* border: 2px solid gray; */
    border-radius: 4px;
}
.modal-body-wrapper {
    box-sizing: border-box;
    padding: 2%;
    position: relative;
    /*  TODO: make this in the middle */
    /* width: 100%;  */
    /* margin: 0 auto; */

}
.modal-body-wrapper > div {
    margin-bottom: 5%;
    box-sizing: border-box;
}
.modal-body-wrapper input {
    width: calc(( 100% / 2) - 4%); 
    margin-bottom: 10px;
    margin: auto 1%;
    text-align: left;
    box-sizing: border-box;
    border-style: none;
    border-bottom: 1px solid gray;
    padding: 10px  ;
}

.add-cancel-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#modal-header {
    box-sizing: border-box;
    border-style: none;
    font-size: 1.2em;
    font-weight: normal;
    text-shadow: 0 0 2px gray;
}
#add {
    padding: 5px 20px;
    box-sizing: border-box;
    border-style: none;
    border-radius: 4px;
    background: #37a0f4;
    color: #fff;
}

#cancel {
    box-sizing: border-box;
    border-style: none;
    text-shadow: 1px 1px 10px gray;
}